/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #f4f6f8;
    padding: 20px;
}

/* HEADER */
header {
    background: #0d6efd;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}

header h2 {
    text-align: center;
}

/* CONTAINER */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: #0d6efd;
    color: white;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* FORM */
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

/* LINKS */
a {
    color: #0d6efd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ALERT */
.alert {
    padding: 10px;
    background: #f8d7da;
    color: #842029;
    margin-bottom: 10px;
}
